<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.giao_one.dao.mysql.ext.ExtUserMapper" >
  <resultMap id="BaseResultMap" type="com.demo.giao_one.entity.ext.ExtUser">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="expired" jdbcType="INTEGER" property="expired" />
    <result column="disabled" jdbcType="INTEGER" property="disabled" />
    <result column="createdate" jdbcType="TIMESTAMP" property="createdate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, username, password, sex, phone, expired, disabled, createdate
  </sql>
  <select id="selectUsersInfo" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from user
  </select>

</mapper>